@import 'skeleton/base-reset';
@import 'skeleton/styleguide';

// Components
@import "skeleton/header";
@import "skeleton/footer";

@import "filter/filter";

.main-header {
  @include header();
  @include header-responsive();
  @include container('.header__container');
  @include container-responsive('.header__container');
}

.main-footer {
  @include footer();
  @include footer-responsive();
  @include container('.footer__container');
  @include container-responsive('.footer__container');
}

.main-filter {
  @include filter();
  @include filter-responsive();
  @include container();
  @include container-responsive();
}
