@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
@import 'styleguide';

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, address, code,
em, img, q, small, sub, sup, tt, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form,
label, article, aside, figure, footer, header, nav, section, button {
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-weight: $font-weight-regular;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $black;
  font: normal normal 100% 'Open Sans', Helvetica, Sans-Serif;
  @include font-style-body-2();

  textarea, input {
    font-family: inherit;
  }
}

li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
