@import 'styleguide';

@mixin footer {
  .footer {
    background: $black;
    padding: $spacing-xlarge 0 $spacing-base 0;
    margin-top: $spacing-xlarge;

    &__copyrights {
      @include font-style-body-1();
      color: $white;
    }
  }
}

@mixin footer-responsive {
  @include mq-large-up() {
    .footer {
      &__copyrights {
        text-align: center;
      }
    }
  }
}
