@import 'styleguide';

@mixin header {
  .header {
    background: $black;
    padding: $spacing-base 0;
    margin-bottom: $spacing-base;

    &__title {
      @include font-style-subheader();
      color: $white;
      text-align: center;
    }
  }
}

@mixin header-responsive {
  @include mq-medium-up() {
    .header {
      &__title {
        @include font-style-headline();
      }
    }
  }

  @include mq-large-up() {
    .header {
      &__title {
        @include font-style-display-1();
        text-align: left;
      }
    }
  }
}
