@import 'spacing';
@import 'media-query';


@mixin container($container-selector: '&') {
  @include _container($container-selector);
}

@mixin container-responsive($container-selector: '&') {
  @include _container-responsive($container-selector, 1024px);
}

@mixin _container($container-selector) {
  #{$container-selector} {
    margin-left: $spacing-base;
    margin-right: $spacing-base;
  }
}

@mixin _container-responsive ($container-selector, $max-width) {
  #{$container-selector} {
    @include mq-large-up() {
      margin-left: auto;
      margin-right: auto;
      max-width: $max-width;
    }
  }
}
