$font-size-body-1: 13px;
$font-size-body-2: 16px;
$font-size-title: 20px;
$font-size-headline: 24px;
$font-size-display-1: 32px;
$font-size-display-2: 48px;
$font-size-display-3: 56px;

$font-weight-regular: 400;
$font-weight-semibold: 600;

@mixin font-style-label {
  font-size: $font-size-body-1;
  line-height: 20px;
  font-weight: $font-weight-semibold;
}

@mixin font-style-button-1 {
  @include font-style-label();
  text-transform: uppercase;
}

@mixin font-style-body-1 {
  font-size: $font-size-body-1;
  line-height: 20px;
  font-weight: $font-weight-regular;
}

@mixin font-style-body-2 {
  font-size: $font-size-body-2;
  line-height: 24px;
  font-weight: $font-weight-regular;
}

@mixin font-style-button-2 {
  font-size: $font-size-body-2;
  line-height: 24px;
  font-weight: $font-weight-semibold;
}

@mixin font-style-subheader {
  font-size: $font-size-title;
  line-height: 28px;
  font-weight: $font-weight-regular;
}

@mixin font-style-title {
  font-size: $font-size-title;
  line-height: 28px;
  font-weight: $font-weight-semibold;
}

@mixin font-style-headline {
  font-size: $font-size-headline;
  line-height: 32px;
  font-weight: $font-weight-regular;
}

@mixin font-style-display-1 {
  font-size: $font-size-display-1;
  line-height: 40px;
  font-weight: $font-weight-regular;
}

@mixin font-style-display-2 {
  font-size: $font-size-display-2;
  line-height: 56px;
  font-weight: $font-weight-regular;
}

@mixin font-style-display-3 {
  font-size: $font-size-display-3;
  line-height: 64px;
  font-weight: $font-weight-regular;
}
