$mq-medium-size: 720px;
$mq-large-size: 1050px;

@mixin mq-small-only() {
  @media screen and (max-width: $mq-medium-size) {
    @content;
  }
}

@mixin mq-medium-up() {
  @media screen and (min-width: $mq-medium-size) {
    @content;
  }
}

@mixin mq-large-up() {
  @media screen and (min-width: $mq-large-size) {
    @content;
  }
}
